$color-bg-light:      #ffffff;
$color-bg-dark:       #000000;
$color-bg-comic:      #fffbdf;
$color-bg-gray:       #f8f9fa;
$color-border-gray:   #e0e0e0;
$color-text-dark:     #222222;
$color-text-light:    #ffffff;
$color-text-tiza:     #e0e0e0;
$color-aliceblue:     #f0f8ff;

$color-marvel-red:    #e50914;
$color-spidey-red:    #ad3030;
$color-spidey-blue:   #005a9c;
$color-bordo:         #800020;
$color-bordo-dark:    #5c0017;
$color-bootstrap-red: #dc3545;

$font-main:     'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
$font-secundary: Verdana, Geneva, Tahoma, sans-serif;
$font-comic:     'Bangers', 'Impact', sans-serif;
$font-card:      Georgia, 'Times New Roman', Times, serif;
$font-tops:      'Poppins', sans-serif;
$font-code:      'Courier New', Courier, monospace;